<div class="cf">
  <div class="mayor-container">
    <h3>Minneapolis Mayor by precinct (1st choice)</h3>
    <div id="minneapolis-mayor-rank-1" class="map-container"></div>
  </div>

  <div class="mayor-container">
    <h3>Minneapolis Mayor by precinct (2nd choice)</h3>
    <div id="minneapolis-mayor-rank-2" class="map-container"></div>
  </div>

  <div class="mayor-container">
    <h3>Minneapolis Mayor by precinct (3rd choice)</h3>
    <div id="minneapolis-mayor-rank-3" class="map-container"></div>
  </div>
</div>

<div class="legends minneapolis-mayor-legends cf"></div>

<div class="cf">
  <div class="mayor-container st-paul-mayor-container">
    <h3>St. Paul Mayor by precinct (1st choice)</h3>
    <div id="st-paul-mayor-rank-1" class="map-container"></div>
  </div>
</div>

<div class="legends st-paul-mayor-legends cf"></div>
