<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./_head.ejs.html')
  </head>

  <body>
    <!-- Screen reader announcements -->
    <div aria-live="polite" id="announcer" class="sr-only"></div>

    <!-- Skip to main content -->
    <a href="#main-content" class="to-main-content sr-only">Skip to main content</a>

    <!-- Header -->
    <header class="project-header" role="banner">
      @@include('./_header.ejs.html')
    </header>

    <!-- Main content here -->
    <main id="main-content" class="content" role="main">
      <div class="cf">
        <div class="mayor-container">
          <h3>Minneapolis Mayor by precinct (1st choice)</h3>
          <div id="minneapolis-mayor-rank-1" class="map-container"></div>
        </div>

        <div class="mayor-container">
          <h3>Minneapolis Mayor by precinct (2nd choice)</h3>
          <div id="minneapolis-mayor-rank-2" class="map-container"></div>
        </div>

        <div class="mayor-container">
          <h3>Minneapolis Mayor by precinct (3rd choice)</h3>
          <div id="minneapolis-mayor-rank-3" class="map-container"></div>
        </div>
      </div>

      <div class="legends minneapolis-mayor-legends cf"></div>

      <div class="cf">
        <div class="mayor-container">
          <h3>St. Paul Mayor by precinct (1st choice)</h3>
          <div id="st-paul-mayor-rank-1" class="map-container"></div>
        </div>

        <div class="mayor-container">
          <h3>St. Paul Mayor by precinct (2nd choice)</h3>
          <div id="st-paul-mayor-rank-2" class="map-container"></div>
        </div>

        <div class="mayor-container">
          <h3>St. Paul Mayor by precinct (3rd choice)</h3>
          <div id="st-paul-mayor-rank-3" class="map-container"></div>
        </div>
      </div>

      <div class="legends st-paul-mayor-legends cf"></div>
    </main>

    <!-- Footer -->
    <footer role="contentinfo">
      @@include('./_footer.ejs.html')
    </footer>

    <!-- Global/external scripts -->
    <% if (config.js && config.js.globals) { config.js.globals.forEach(function(s) { %>
      <script src="<%= s %>"></script>
    <% }); } %>

    <!-- Scripts -->
    <script src="./app.bundle.js"></script>
  </body>
</html>
