/**
 * Project specific styling.
 */

.embed {
  .project-header,
  footer[role="contentinfo"] {
    display: none;
  }
}

.loading {
  padding: 2em;
  text-align: center;

  &.loaded {
    display: none;
  }
}

.mayor-container {
  width: 33%;
  padding: 0.1em;
  margin-bottom: 2em;
  float: left;

  .st-paul-first-choice-embed & {
    width: 100%;
    float: none;
  }
}

h3 {
  font-size: 1em;
  padding: 0.1em 0 0;
  margin: 0 0 0.15em;
}

p {
  font-size: 0.85em;
  line-height: 1.15em;
  margin: 0;
}

.source {
  font-size: 0.65em;
  padding-top: 0.5em;
  margin-bottom: 2em;
  color: #787878;
}

.map-container {
  width: 100%;
  min-height: 25em;
}

.precinct {
  stroke: #FEFEFE;
  stroke-width: 0.002;
  fill: #FEFEFE;

  &:hover {
    stroke: #FEFEFE;
    stroke-width: 0.021;
  }
}

.legends {
  text-align: center;

  svg {
    padding: 0.5em;
    display: inline-block;
    height: 5.5em;
    width: 8em;

    .legendTitle {
      font-size: 0.85em;
    }

    .label {
      font-size: 0.5em;
    }
  }
}

.tooltip {
  font-size: 0.65em;
  line-height: 1.25em;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;

  .tooltip-header {
    font-family: $font-popular;
    font-size: 1.12em;
    margin-bottom: none;
  }

  /* Creates a small triangle extender for the tooltip */
  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
  }

  /* Northward tooltips */
  &.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
  }

  /* Eastward tooltips */
  &.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
  }

  /* Southward tooltips */
  &.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
  }

  /* Westward tooltips */
  &.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
  }
}
